
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static 'css/land.css' %}">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,500,600,300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
   
    <title>FineCode</title>
  </head> 
  <body>
    <nav class="navbar">
      <a href="#" class="logo">FineCode</a>
      <ul class="menu">
        <li class="menu-item"><a href="#">Home</a></li>
        <li class="menu-item"><a href="#">Public Rooms</a></li>
        <li class="menu-item"><a href="#">Challenges</a></li>
        <li class="menu-item"><a href="#">Settings</a></li>
      </ul>
      <div class="buttons">
        <a href="#" class="user">LOGIN</a>
        <a href="#" class="register">SIGN UP</a>
        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
      
    </div>
    </nav>

    <section class="hero">
      Hi yash here  
    </section>


    <script src="../static/js/navbar.js"></script>
  </body>
</html>
