
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static 'css/land.css' %}">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,500,600,300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
   
    <title>FineCode</title>
  </head> 
  <body>
    <nav class="navbar">
      <a href="#" class="logo">FineCode</a>
      <ul class="menu">
        <li class="menu-item"><a href="#">Home</a></li>
        <li class="menu-item"><a href="#">Public Rooms</a></li>
        <li class="menu-item"><a href="#">Challenges</a></li>
        <li class="menu-item"><a href="#">Settings</a></li>
      </ul>
      <div class="buttons">
        <a href="#" class="user">LOGIN</a>
        <a href="#" class="register">SIGN UP</a>
        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
      
    </div>
    </nav>

    <div class="hero">
      <div class="hero-left">
        <h2 class="main-text">Compiler with <br>
          a brain.</h2>
        <p class="main-text-p">Join a code session room, Create your own or Find a public room <br> and code alongside coders from across the globe.</p>
        <form class="room-code" method="post">
          <input class="form-control" type="text" name="text" placeholder="Room Code"/>
          <button class="btn join-room-button" type="submit">JOIN ROOM</button>
          <button class="btn create-room-button"  type="submit">CREATE ROOM</button>
        </form>
      </div>
      <div class="hero-right">
        <img class="laptop" src="../static/Images/mainlaptop.png" alt=""> 
      </div>
      </div>


      <div class="features">
          <div class="text-area">
            <h1> You code while we <span>analyse</span> it.</h1>
            <p>FineCode uses our custom made code analyser to analyse your code and compare it <br>
              with other on the basis of set parameters.</p>
          </div>
          <div class="cards-section">
            <div class="cards">
              <h4>Approach</h2>
              <hr>
              <div class="vector">
                <p>There are multiple ways to solve a problem and we analyse which one you took and how it is compared 
                  to the others</p>
                  <img src="../static/Images/group-91.svg" alt="">
                </div>
          </div>
          <div class="cards">
            <h4>Time and space</h2>
            <hr>
            <div class="vector">
              <p>We compare the code execution time and the space that the program took. This helps in creating fast and tight programs</p>
                <img src="../static/Images/group-92.svg" alt="">
              </div>
        </div>
        <div class="cards">
          <h4>Plagarism checker</h2>
          <hr>
          <div class="vector">
          <p>We check and analyse the code for any 
            plagarism by scrapping the web</p>
            <img src="../static/Images/group-90.svg" alt="">
          </div>
      </div>
          </div>
      </div>

      <div class="newsletter">
        <div class="text-area-new">
          <h2>Try our newsletter</h2>
          <p>Get notified when new challenges come up!</p>
        </div>
        <div class="input-button">
          <form method="post">
            <input type="email" placeholder="Type in your Email">
            <button>SUBSCRIBE</button>
          </form>
        </div>
      </div>

    <script src="../static/js/navbar.js"></script>
  </body>
</html>
