@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/clash-display');
:root {
  /* FONTS */
  --primary-font: ClashDisplay-Bold;
  --secondary-font: Urbanist;

  /* FONT WEIGHT */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 900;

  /* COLORS */
  --primary-color: #232931;
  --secondary-color: #393e46;
  --tertiary-color: #4ecca3;
  --quad-color: #eeeeee;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
    font-family: "Urbanist", sans-serif;
  /* background-color: #393E46; */
}
body{
  min-height: 100vh;
  background-color: var(--primary-color);
}

/* Navbar */

nav {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 12%;
  font-size: 2rem;
  /* transition: all .50s ease; */
}

.logo{
  font-family: 'Clash Display',sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-right: 0.3rem;
  text-decoration: none;
  color: var(--quad-color);
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
}

.menu a {
  font-family: "urbanist", sans-serif;
  color: var(--quad-color);
  text-decoration: none;
  padding: 1rem 0;
  margin: 0px 5rem;
  font-size: 1.5rem;
}
.buttons{
  display: flex;
  align-items: center;
}

.buttons a{
    margin-right: 1rem;
    margin-left: 1rem;
    color: var(--quad-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
}

.buttons .user{
    background-color: var(--primary-color);
    border: 1px solid #4ecca3;
}

.buttons .register{
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}
.toggle-button{
    display: none;
}

#menu-icon{
  font-size: 35px;
  color: var(--quad-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width:1280px) {
  nav{
    padding:1.4rem 2%;
  }

  .menu a{
    padding: 5px 0;
    margin: 0px 2.5rem;
  }
  
}

@media (max-width:1090px) {
  #menu-icon{
    display: block;
  }

  .menu{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .menu a{
    display: block;
    padding: 1rem 0;
  margin: 12px 0;
  }

  .menu.open{
    right: 2%;
  }
}

@media (max-width:420px) {
  .logo{
    font-size: 2rem;
  }

  .buttons .user ,.buttons .register{
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}